@font-face {
    font-family: 'Rounded';
    src: url("fonts/Rounded/Rounded-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Rounded-bold';
    src: url("fonts/Rounded/Rounded-Bold.ttf") format('truetype');
}@font-face {
    font-family: 'Rounded-Light';
    src: url("fonts/Rounded/Rounded-Light.ttf") format('truetype');
}
@keyframes welcome {

    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated-element {
    opacity: 0;
    transform: translateX(0);
    transition: opacity 1s ease-out, transform 1s ease-in;
}
.animated-element.animate {
    opacity: 1;
    transform: translateX(40px);
}


body{
    background-image: url("../img/Fond_ecran.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Rounded', serif;
    color: aliceblue;
}
header h1{
    font-family: 'Rounded-bold', serif;
    font-size: 4em;
    text-align: center;
    animation: welcome 1s ease-in;

}

header{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    font-family: 'Rounded-bold', serif;
    font-size: 2em;

}
h3{
    text-align: center;
    font-family: 'Rounded-Light', serif;
    font-size: 1.5em;

}
nav{
    margin-top: 25px;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
margin: 0.5em;
transition: 0.5s}

nav ul li:hover {
    font-size: 1.5em;
transition: 0.5s}


#presentation{
    position: relative;
    margin: auto;
    margin-bottom: 50vh;

}
#presentation h1 {
    font-family: 'Rounded-bold', serif;
    font-size: 2.5em;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
}
#presentation h3 {
    margin-left: 130px;
    width: fit-content;
}


#presentation img{
   position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

#skills{
    height: 100vh;
    position: relative;
}


.skills-block{
    margin-top: 50px;
}


.skills-block ul {
    width: 100%;
   display: flex;
    justify-content: center;
}
.skills-block div {
   margin: auto;
}
.skills-block div li {
    font-family: 'Rounded-bold', serif;
    text-align: center;
    margin: 2em
}



hr{
    margin: 2em auto;
    border: solid  aliceblue 1px;
    border-radius: 2em;
    width: 25%;
}

@media (min-width: 1024px) {
    #presentation h2 {
        font-size: 4em;
    }
    #presentation h3 {
        font-size: 2.5em;
        margin-left: 300px;
    }
    #presentation li a {
        font-size: 1.5em;
        margin-left: 50px;

    }
}