@font-face {
    font-family: 'Rounded';
    src: url("fonts/Rounded/Rounded-Regular.ttf") format('truetype');
}
@font-face {
    font-family: 'Rounded-bold';
    src: url("fonts/Rounded/Rounded-Bold.ttf") format('truetype');
}
@font-face {
    font-family: 'Rounded-Light';
    src: url("fonts/Rounded/Rounded-Light.ttf") format('truetype');
}
@keyframes welcome {

    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.animated-element {
    opacity: 0;
    transform: translateX(30px);
    transition: opacity 1s ease-out, transform 1s ease-in;
}
.animated-element.animate {
    opacity: 1;
    transform: translateX(70px);
}
body{
    background-image: url("../img/Fond_ecran.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Rounded', serif;
    color: aliceblue;
}
header h1{
    font-family: 'Rounded-bold', serif;
    font-size: 4em;
    text-align: center;
    animation: welcome 1s ease-in;

}
header{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    font-family: 'Rounded-bold', serif;
    font-size: 2.5em;

}
h3{
    text-align: center;
    font-family: 'Rounded', serif;
    font-size: 2em;

}
h4{

    text-align: center;
    font-family: 'Rounded-Light', serif;
    font-size: 1.5em;


}
nav{
    margin-top: 25px;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0.5em;
    transition: 0.5s}
nav ul li:hover {
    font-size: 1.5em;
    transition: 0.5s}
#presentation{
    position: relative;
    margin: auto;
    margin-bottom: 50vh;

}
#presentation h2 {
    font-family: 'Rounded-bold', serif;
    font-size: 2em;
    margin-bottom: 0.5em;
    margin-left: 0.3em;
}
#presentation h3 {
    font-size: 1em;
    margin-left: 130px;
    width: fit-content;
}
#presentation img{
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
#skills{

    position: relative;
}
#skills h2{
    padding-top: 2em;
}
#hardskills{
    margin-top: 50px;
}
.skills-block{
    margin-top: 20px;
}
.skills-block .list-skill {
    width: 100%;
    display: flex;
    justify-content: center;
}
.skills-block div {
    margin: auto;
}
.skills-block div li {
    font-family: 'Rounded-bold', serif;
    text-align: center;
    margin: 2em
}
#hardskills{

    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
    width: 75%;
    box-shadow: #8686a4 5px 5px 100px;
}
#softskill{

    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
    width: 75%;
    box-shadow: #8686a4 5px 5px 100px;
}
.list-softskill li{

    margin-bottom: 3em !important;
}
#diplomes{
    margin-top: 25vh;
    padding-top: 25px;
    height: 100vh;

}
#diplomes .bar{
    position: relative;
    width: 320px;
    height: 0;
    left: -110px;
    top: 160px;
    rotate: 90deg;
    border:solid aliceblue 1px;
}
#diplomes div .ronds{
    width: 20px;
    height: 20px;
    border:solid 1px #ffffff;
    border-radius: 30px;
    margin: 0 0 80px 40px;
}
#diplomes div {
    margin: 50px auto;
    padding: 25px;
    border-radius: 20px;
    width: 75%;
    box-shadow: #8686a4 5px 5px 100px;
}
#diplomes h5 span {
    padding-top: 1em;
}
#diplomes h5  {
   width: fit-content;
}
.formation{
    font-size: .5em;
    position: relative;
    margin: 0 0 84px 40px;
    top:-472px;
    left: 25%;
}

footer{
    box-shadow: #8686a4 5px 5px 100px;
    height: 100px;
    border-radius: 20px;
    margin: 0 2em 2em 2em;
}
footer ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

footer ul li i {
    margin-right: .2em;

}
footer ul li  {

    font-size: .4em;
}



@media (min-width: 768px) {
    .formation{
        font-size: 1em;
        margin: 0 0 68px 40px;
        left: 20%;
    }
    footer ul li  {

        font-size: .8em;
    }


}
@media (min-width: 1024px) {
    #presentation h2 {
        font-size: 4em;
    }
    #presentation h3 {
        font-size: 2.5em;
    }
    #presentation li a {
        font-size: 1.5em;
        margin-left: 50px;

    }
    #diplomes hr{
        position: relative;
        top: 169px;
        left: -59vh;
        border:solid aliceblue 1px;
    }
    #diplomes h5 br{
        display: none;}
    .formation{
        margin: 0 0 84px 40px;
    }
    footer ul li  {

        font-size: 1.5em;
    }
    }
@media (orientation: landscape) {
    #presentation h3 {
        margin-left: 50vw;

    }
   footer{
       margin-top: 10em;
   }
}